name: contributer-badge
on:
  workflow_dispatch: {}
  pull_request_target:
    types:
      - opened
      - edited

jobs:
  call-action:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: kaizencc/contributor-badge@main
        id: contributor-badge
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          labels: 'getting-started,all-star'
          buckets: '0,2'
          label-meanings: 'Nice job, you've opened a PR! Open 3 to get a special label!|WOW! You've committed a lot, well done!'
          category: 'total'
